*.dyn_hi
*.dyn_o
*.hi
*.nix
*.o
*.refactored.*
.*.sw?
.DS_Store
.cabal-sandbox
.floo
.flooignore
.stack-work
benchmark/output/**
cabal.sandbox.config
cabal.config
dist
codex.tags
dist
hscope.out
tags
TAGS
~/
